<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microservice.article.dao.RuleDao">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.microservice.article.pojo.vo.RuleVO">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pattern" property="pattern" jdbcType="VARCHAR"/>
        <result column="rule_group_id" property="ruleGroupId" jdbcType="BIGINT"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        `name`,
        pattern,
        rule_group_id
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="ruleVO.id">
        INSERT INTO rule (
            id,
            `name`,
            pattern,
            rule_group_id
        ) VALUES (
            #{ruleVO.id,jdbcType=BIGINT},
            #{ruleVO.name,jdbcType=VARCHAR},
            #{ruleVO.pattern,jdbcType=VARCHAR},
            #{ruleVO.ruleGroupId,jdbcType=BIGINT}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="ruleVO.id">
        INSERT INTO rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleVO.id!=null"> id,</if>
            <if test="ruleVO.name!=null"> `name`,</if>
            <if test="ruleVO.pattern!=null"> pattern,</if>
            <if test="ruleVO.ruleGroupId!=null"> rule_group_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleVO.id!=null">#{ruleVO.id,jdbcType=BIGINT},
            </if>
            <if test="ruleVO.name!=null">#{ruleVO.name,jdbcType=VARCHAR},
            </if>
            <if test="ruleVO.pattern!=null">#{ruleVO.pattern,jdbcType=VARCHAR},
            </if>
            <if test="ruleVO.ruleGroupId!=null">#{ruleVO.ruleGroupId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO rule (
            id,
            `name`,
            pattern,
            rule_group_id
        )VALUES
        <foreach collection="ruleVOs" item="ruleVO" index="index" separator=",">
            (
            #{ruleVO.id,jdbcType=BIGINT},
            #{ruleVO.name,jdbcType=VARCHAR},
            #{ruleVO.pattern,jdbcType=VARCHAR},
            #{ruleVO.ruleGroupId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE rule
        <set>
            <if test="ruleVO.name != null"> `name`= #{ruleVO.name,jdbcType=VARCHAR},</if>
            <if test="ruleVO.pattern != null"> pattern= #{ruleVO.pattern,jdbcType=VARCHAR},</if>
            <if test="ruleVO.ruleGroupId != null"> rule_group_id= #{ruleVO.ruleGroupId,jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{ruleVO.id,jdbcType=BIGINT}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-03-31-->
    <select id="findFirst" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rule limit 1
    </select>

<!--auto generated by MybatisCodeHelper on 2019-03-31-->
    <select id="findByRuleGroupId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rule
        where rule_group_id=#{ruleGroupId,jdbcType=BIGINT}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-03-31-->
    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rule
        where `name`=#{name,jdbcType=VARCHAR}
    </select>
</mapper>

